## The first lab

In [1]:
1 + 1

2

In [3]:
a = (5 * 2) % 6
a

4

## This is the second part of lab

<a href="https://cognitiveclass.ai/"> Cognitive Class</a>

| header | header |
| ------ | ------ |
| cell | cell |

| header | header | header |
| ------ | ------ | ------ |
| cell | cell | cell |
| cell | cell | cell |
| cell | cell | cell |
| cell | cell | cell |

In [1]:
import pandas as pd

pd.DataFrame([1, 2])

   0
0  1
1  2